In [29]:
import pandas as pd
import numpy as np
df = pd.read_csv('train1.csv')

In [2]:
df.head()

,Year,Month,Day,Hour,Minute,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,Fill Flag,day_night
0,2009,1,1,0,0,0,0,0,0,0.0,5.0,1010,75.34,106.15,0.499,346.1,3.1,0,0
1,2009,1,1,0,30,0,0,0,0,1.0,5.0,1010,80.81,112.28,0.490,346.1,3.1,0,0
2,2009,1,1,1,0,0,0,0,4,0.0,5.0,1010,78.27,118.50,0.482,347.9,3.2,0,0
3,2009,1,1,1,30,0,0,0,4,0.0,4.0,1010,78.27,124.78,0.478,347.9,3.1,0,0
4,2009,1,1,2,0,0,0,0,4,0.0,4.0,1010,76.45,131.12,0.475,350.0,3.0,0,0

In [26]:
df['Time'] = np.arange(len(df.index))

In [4]:
df.drop('Fill Flag',axis='columns', inplace=True)

In [27]:
df.drop('Hour',axis='columns', inplace=True)

Training

In [6]:
new_df=df

In [7]:
new_df.head()

,Year,Month,Day,Minute,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,day_night,Time
0,2009,1,1,0,0,0,0,0,0.0,5.0,1010,75.34,106.15,0.499,346.1,3.1,0,0
1,2009,1,1,30,0,0,0,0,1.0,5.0,1010,80.81,112.28,0.490,346.1,3.1,0,1
2,2009,1,1,0,0,0,0,4,0.0,5.0,1010,78.27,118.50,0.482,347.9,3.2,0,2
3,2009,1,1,30,0,0,0,4,0.0,4.0,1010,78.27,124.78,0.478,347.9,3.1,0,3
4,2009,1,1,0,0,0,0,4,0.0,4.0,1010,76.45,131.12,0.475,350.0,3.0,0,4

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [9]:
X = new_df.drop(columns=['Clearsky GHI','Clearsky DHI','Clearsky DNI',])
Y = new_df['Clearsky DNI']
x_train, x_valid, y_train, y_valid = train_test_split(X, Y, test_size=0.25, random_state=101)

In [10]:
from sklearn.ensemble import ExtraTreesRegressor

DNI

In [11]:

model = ExtraTreesRegressor(n_estimators = 500)
model.fit(x_train,y_train)
train_pred = model.predict(x_train)
valid_pred = model.predict(x_valid)

print(f"Score = {model.score(x_train,y_train)}\tTrain MSE = {mean_squared_error(train_pred, y_train)}")
print(f"Val Score = {model.score(x_valid,y_valid)}\t Val MSE = {mean_squared_error(valid_pred, y_valid)}")

Score = 0.9999999999961287	Train MSE = 5.293294389678563e-07
Val Score = 0.9933658558839453	 Val MSE = 912.182271526287

DHI

In [12]:
X1 = new_df.drop(columns=['Clearsky GHI','Clearsky DHI','Clearsky DNI'])
Y1 = new_df['Clearsky DHI']
x_train1, x_valid1, y_train1, y_valid1 = train_test_split(X1, Y1, test_size=0.25, random_state=101)

model1 = ExtraTreesRegressor(n_estimators = 500)
model1.fit(x_train1,y_train1)
train_pred1 = model1.predict(x_train1)
valid_pred1 = model1.predict(x_valid1)

print(f"Score = {model1.score(x_train1,y_train1)}\tTrain MSE = {mean_squared_error(train_pred1, y_train1)}")
print(f"Val Score = {model1.score(x_valid1,y_valid1)}\t Val MSE = {mean_squared_error(valid_pred1, y_valid1)}")

Score = 1.0	Train MSE = 0.0
Val Score = 0.9806515297668109	 Val MSE = 79.74450097937203

In [30]:
X2 = df.drop(columns=['Clearsky GHI','Clearsky DHI','Clearsky DNI'])
Y2 = df['Clearsky GHI']
x_train2, x_valid2, y_train2, y_valid2 = train_test_split(X2, Y2, test_size=0.25, random_state=101)

model2 = ExtraTreesRegressor(n_estimators = 500)
model2.fit(x_train2,y_train2)
train_pred2 = model2.predict(x_train2)
valid_pred2 = model2.predict(x_valid2)

print(f"Score = {model2.score(x_train2,y_train2)}\tTrain MSE = {mean_squared_error(train_pred2, y_train2)}")
print(f"Val Score = {model2.score(x_valid2,y_valid2)}\t Val MSE = {mean_squared_error(valid_pred2, y_valid2)}")

Score = 0.9999999999993143	Train MSE = 7.350614579531607e-08
Val Score = 0.9996821772689091	 Val MSE = 34.30475097544724

test data

In [31]:
tdf = pd.read_csv('test1.csv')

In [34]:
tdf['Time'] = np.arange(len(tdf.index))

In [35]:
tdf.drop('Fill Flag',axis='columns', inplace=True)

In [36]:
tdf.drop('Hour',axis='columns', inplace=True)

In [37]:
tdf.head()

,Year,Month,Day,Minute,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,day_night,Clearsky DHI,Clearsky DNI,Clearsky GHI,Time
0,2019,1,1,0,7,18.4,18.8,1008,97.70,106.23,3.5,190,2.3,0,NaN,NaN,NaN,0
1,2019,1,1,30,3,18.4,18.6,1008,98.92,112.36,3.5,187,2.5,0,NaN,NaN,NaN,1
2,2019,1,1,0,3,18.2,18.5,1008,98.35,118.58,3.5,184,2.8,0,NaN,NaN,NaN,2
3,2019,1,1,30,3,18.2,18.3,1008,99.58,124.86,3.5,185,3.0,0,NaN,NaN,NaN,3
4,2019,1,1,0,0,18.0,18.0,1008,99.71,131.20,3.6,186,3.1,0,NaN,NaN,NaN,4

In [38]:
test = tdf.drop(columns=['Clearsky GHI','Clearsky DHI','Clearsky DNI'])

In [39]:
dni=model.predict(test)
dhi=model1.predict(test)

In [33]:
ghi=model2.predict(test)

In [21]:
submission = pd.DataFrame()
submission['Clearsky DHI'] = dhi
submission['Clearsky DNI'] = dni
submission['Clearsky GHI'] = ghi

In [22]:
submission['Clearsky GHI'] = submission['Clearsky GHI'].fillna(0)
submission.head(30)

    Clearsky DHI  Clearsky DNI  Clearsky GHI
0          0.000         0.000         0.000
1          0.000         0.000         0.000
2          0.000         0.000         0.000
3          0.000         0.000         0.000
4          0.000         0.000         0.000
5          0.000         0.000         0.000
6          0.000         0.000         0.000
7          0.000         0.000         0.000
8          0.000         0.000         0.000
9          0.000         0.000         0.000
10         0.000         0.000         0.000
11         0.000         0.000         0.000
12         0.000         0.000         0.000
13         0.000         0.000         0.000
14         0.000         0.000         0.000
15         0.000         0.000         0.000
16         0.000         0.000         0.016
17         0.000         0.000         0.000
18         0.000         0.000         0.016
19         0.000         0.000         0.000
20         0.016         0.042         0.000
21         0.008         0.034         0.000
22         0.000         0.000         0.000
23         0.000         0.000         0.002
24         0.008         0.000         0.002
25         1.222         5.892         1.120
26        25.710       182.882        37.716
27        50.112       393.096       110.378
28        67.278       536.324       192.824
29        79.070       627.296       278.240

In [23]:
submission['Clearsky DHI'] = submission['Clearsky DHI'].astype("int")
submission['Clearsky DNI'] = submission['Clearsky DNI'].astype("int")
submission['Clearsky GHI'] = submission['Clearsky GHI'].astype("int")

In [24]:
submission.to_csv('submission6.csv', index=False)